@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Overpass&family=Proza+Libre&display=swap");

* ::after ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(0, 0, 0, 0.1);
}

:root {
  --bleu: #38bff0;
  --noir: #292929;
  --vert: #00faa8;
  --titre: "Hind Siliguri", sans-serif;
  --texte: "Overpass", sans-serif;
  --sous-titre: "Proza Libre", sans-serif;
  scroll-behavior: unset;
}

/* ----------- HEADER ---------- */

header {
  background-color: var(--noir);
  position: fixed;
  z-index: 2;
  width: 100%;
}

nav {
  display: flex;
}

.navbar-brand {
  width: 25%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-link i:hover {
  opacity: 0.5;
}

ul {
  display: flex;
  list-style: none;
}

.navbar-collapse {
  flex-grow: 0;
}



.form-control {
  border-radius: 1rem;
}

.btn {
  border-color: var(--vert);
  border-radius: 1rem;
  color: var(--vert);
  scroll-behavior: smooth;
}

.btn:hover {
  background-color: var(--vert);
  color: var(--noir);
}

/* test carrousel*/
/* 
.containerCarrousel {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 60%;
  height: 96vh;
} */

.containerCarrousel {
  width: 60%;
}

.caroussel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  min-height: 45rem;
}

.carousel-item {
  background-color: white;
  padding: 2%;
  border-radius: 20px;
  font-size: 0.8rem;
  padding-bottom: 3%;
  height: 89%;
}

.carousel-item img {
  height: 50vh;
  padding-top: 1%;
  border-radius: 20px;
}

.carousel-control-prev {
  margin-bottom: 30%;
  height: 49%;
}

.carousel-control-next {
  margin-bottom: 30% !important;
  height: 49%;
}

.readMore:hover {
  text-decoration: underline;
  cursor: pointer;
}

.readMore, .exit-article a {
  color: unset;
  text-decoration: none;
}

.readMore {
  width: 8rem;
  color: var(--bleu);
}

.readMore-plus-lus {
  width: 6rem;
  color: var(--bleu);
 
}

.readMore-plus-lus:hover {
  text-decoration: underline;
  cursor: pointer;
}

.img-caroussel {
  width: 100%;
  height: 23.5rem;
  background-image: url(assets/thales.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
}

.text-caroussel{
  padding: 0rem 2rem;
}

.text-hide {
  display: none;
}

h3 {
  margin-top: 4%;
}

.laSuite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
  padding: 2%;
}
/*Article 1 carrousel */

.donneesVolees {
  list-style: circle;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*fin article 1 carrousel*/
/*Article 2*/

h6 {
  color: red;
}

/* fin Article 2*/

/* fin carrousel*/
/* ----------- MAIN ---------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation {
  background-image: url(assets/banner2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  /*border-radius: 20px;*/
  width: 100%;
  padding: 10%;
  margin-top: 6.8%;
}

h1 {
  font-family: var(--titre);
  font-size: 4rem;
  color: white;
}

.title-cyber {
  font-family: var(--sous-titre);
  color: var(--vert);
}

h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  color: var(--bleu);
}

h3 {
  font-family: var(--titre);
  color: var(--bleu);
  font-size: 1.5rem;
}

.presentation p {
  color: white;
  width: 60%;
  text-align: center;
  font-size: 2rem;
}

.plus-lus {
  width: 100%;
  background-color: var(--noir);
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.secGrille {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.grille {
  display: grid;
  justify-content: center;
  grid-template-columns: 36% 36% 36%;
  width: 73%;
  column-gap: 6%;
  row-gap: 5%;
}

.card {
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  margin: 1% 1%;
  padding-top: 6%;
}

.card p,
.card h3 {
  padding-left: 4%;
  padding-right: 3%;
}

.card p {
  height: 100%;
}

.card h3 {
  height: 100%;
}

.vu {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}


i {
  width: 1rem;
}

.card img {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/*Modales les plus lus*/

.modale{
  display: none;
}

.background-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.exit-article {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 98%;
  z-index: 2;
  color: white;
  font-size: xx-large;
  height: 1%;
}

.exit-article:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

.article-lu {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
  width: 60%;
  height: 100rem;
  z-index: 2;
}

.banner-article-lu {
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
}

.img-article1 {
  background-image: url(assets/iaNouvelleMenace.jpg);
}

.img-article2 {
  background-image: url(assets/qrcode.jpg);
}

.img-article3 {
  background-image: url(assets/olvid.jpg);
}

.img-article4 {
  background-image: url(assets/commission.jpg);
}

.img-article5 {
  background-image: url(assets/gign.jpg);
}

.img-article6 {
  background-image: url(assets/iliaSachkov.jpeg);
}

.article-lu h3,
.article-lu h4,
.article-lu p {
  padding: 0 2%;
}

/* formulaire */
#form {
  margin-top: 6%;
}

#form h3 {
  text-align: center;
}

#form form {
  display: flex;
  flex-direction: column;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  margin-bottom: 2%;
  border-radius: 7px;
  padding: 1%;
  border: solid 1px #00000034;
  background-color: var(--beige);
}

input:focus,
textarea:focus {
  outline: none;
  border: solid 1px #d5e1db;
}

.title-label {
  color: var(--blue);
  font-size: 1rem;
  font-family: var(--font-title2);
  margin: 0.5rem 0rem;
}

.form-horizontal {
  width: 30rem;
}

.button {
  width: 20%;
  border: none;
  border-radius: 40px;
  text-align: center;
  color: white;
  background-color: var(--bleu);
  padding: 0.6rem 1rem; /* T&B L&R */
  transition: all 0.5s;
}

.button:hover {
  background-color: var(--vert);
  cursor: pointer;
}

/* fin formulaire */

/* fin modales les plus lus*/

/* aside{
    display: none;
    font-size: large;
    text-align: left;
    background-color : #f8f9fa ;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0,
    0, .5) ;
    border: 1px solid var(--salade);
    border-radius: 20px;
    width: 18rem;
    margin-right: 2%;
    padding: 1%;
    height: 150vh;
} */

/* ----------- FOOTER ---------- */

footer {
  width: 100%;
  font-family: sans-serif;
  color: white;
}

footer p {
  color: white;
}

footer a {
  color: white;
  list-style-type: none;
  cursor: pointer;
}

/* Partie supérieur du Footer */

.footer_avis {
  display: grid;
  grid-template-columns: 12% 64% 13% 14%;
  grid-template-rows: 6.5rem 2.8rem 7.25rem;
  width: auto;
  height: 15.188rem;
  margin-top: 10%;
  background-color: #232121;
  font-family: var(--texte);
}

.footer_avis h6 {
  display: flex;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to bottom, white 5%, var(--vert) 75%);
  font-family: var(--texte);
  font-size: 20px;
  grid-column: 2/4;
  grid-row: 1/3;
  align-items: center;
}

.star-rate {
  display: flex;
  flex-direction: row;
}

.grid_footer_avis_1 {
  display: flex;
  grid-column: 2/4;
  grid-row: 2/3;
  align-items: center;
}

.grid_footer_avis_2 {
  display: flex;
  grid-column: 2/4;
  grid-row: 3/3;
  align-items: start;
}

.card-rating {
  display: flex;
  flex-direction: column;
  align-items: start;
  grid-column: 3/4;
  grid-row: 2/3;
}

/* .picto {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.picto i,
.picto i:hover ~ i {
  color: #222;
  text-shadow: none;
  transition: color 200ms, text-shadow 200ms;
  transition-delay: 0;
} */

input[type=radio]{ 
  -webkit-appearance: none;
  margin: 0;
  border: none;
  box-shadow: none;
}

input[type=radio]::after {
  content: '\2605';
  font-size: 32px;
}

input[type=radio]:invalid::after {
  color: #ddd;
}


rating:hover input[type=radio]:invalid::after,
rating:focus-within input[type=radio]:invalid::after
{color: #03F6AC;}

rating:hover input[type=radio]:hover ~ input[type=radio]:invalid::after,
rating input[type=radio]:focus ~ input[type=radio]:invalid::after  {color: #ddd;}


rating input[type=radio]:valid {
  color: #03F6AC;
}

rating input[type=radio]:checked ~ input[type=radio]:not(:checked)::after{
  color: #ccc;
  content: '\2606'; /* optional. hollow star */
}

/* .rate:hover i {
  color: var(--vert);
  text-shadow: #7182ee 0 0 20px;
}

.rate:hover i:nth-child(2) {
  color: var(--vert);
  transition-delay: 30ms;
}

.rate:hover i:nth-child(3) {
  color: var(--vert);
  transition-delay: 60ms;
}

.rate:hover i:nth-child(4) {
  color: var(--vert);
  transition-delay: 90ms;
}

.rate:hover i:nth-child(5) {
  color: var(--vert);
  transition-delay: 120ms;
} */

/* Partie inférieur du Footer */

.footer_absolute {
  display: grid;
  grid-template-columns: 12% 25% 25% 32% 6%;
  grid-template-rows: 15% 70% 10%;
  width: auto;
  height: 25.25rem;
  padding-bottom: 1%;
  font-family: var(--texte);
  /* background: linear-gradient(to right, #783CBD, #7356DC, #6ea8fe) */
  background: linear-gradient(to right, #7356dc, #7356dc, var(--bleu));
}

.footer_absolute p {
  box-sizing: border-box;
}

.footer_absolute_logo {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 300px;
  height: auto;
}

.footer_absolute_div_a {
  margin-top: 5px;
  grid-column: 4/4;
  grid-row: 3/3;
}

.footer_absolute a {
  margin-right: 25px;
  font-size: 14px;
}

.grid_footer_absolute_1 {
  font-weight: 600;
  grid-column: 2/4;
  grid-row: 2/3;
}

.grid_footer_absolute_2 {
  grid-column: 4/4;
  grid-row: 2/3;
}

.grid_footer_absolute_3 {
  margin-top: 5px;
  grid-column: 2/4;
  grid-row: 3/3;
}

.trait {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 3/3;
  width: 100%;
  max-height: 1px;
}

/* ----------- MOBILE ---------- */

@media screen and (max-width: 700px) {
  header {
    z-index: 4;
  }

  .logo_header {
    width: 18rem;
  }

  .navbar-toggler {
    border: solid 1px white;
    /* background-color: var(--vert); */
  }

  .navbar-toggler-icon {
    -webkit-filter: invert(100%);
  }

  .nav-link i {
    width: 2rem;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3, h4 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
  }

  .presentation p {
    width: unset;
    font-size: unset;
  }

  .secGrille {
    width: 32rem;
  }

  .grille {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0%;
  }

  aside {
    display: none;
  }

  .card {
    width: 35rem;
  }

  .presentation {
    margin-top: 15%;
  }

  .containerCarrousel {
    width: 90%;
    min-height: 1vh;
    align-items: unset !important;
  }

  .carousel-inner {
    min-height: 27rem;
  }

  .carousel-item {
    height: 55%;
  }

  .img-caroussel {
    height: 10rem;
  }

  .carousel-control-prev {
    margin-bottom: 0%;
    height: 37%;
  }
  
  .carousel-control-next {
    margin-bottom: 0% !important;
    height: 37%;
  }
  /* modales */

  .exit-article {
    top: 17%;
    left: 86%;
    z-index: 3;
  }

  .article-lu {
    top: 15%;
    width: 90%;
    height: fit-content;
    padding-bottom: 9%;
  }

  .article-lu h3,
  .article-lu h4 {
    padding: 4%;
  }

  .article-lu p {
    padding: 0 4%;
  }

  .banner-article-lu {
    width: 100%;
    height: 12rem;
  }

  .img-article-lu {
    width: 50%;
    height: 3%;
  }

  .button {
    width: 40%;
    margin-top: 7%;
  }

  .form-horizontal {
    max-width: 70%;
  }

  /* ----------- FOOTER ---------- */

  .footer_avis {
    width: auto;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 0.8rem;
  }

  .footer_avis h6 {
    font-size: 1.2rem;
  }

  .footer_absolute {
    width: auto;
    padding-top: 3%;
    padding-left: 4%;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    font-family: sans-serif;
  }

  .footer_absolute_logo {
    display: none;
  }

  .grid_footer_absolute_1 {
    flex-direction: row;
    height: 4rem;
  }

  .footer_absolute a {
    font-size: 0.625rem;
  }

  .footer_absolute_logo {
    margin-left: 4rem;
    width: 50%;
    height: 12%;
    object-position: center;
  }
}

@media screen and (max-width: 800px) {

  .footer_avis {
    width: auto;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 0.8rem;
  }

  .footer_absolute {
    width: auto;
    padding-top: 3%;
    padding-left: 4%;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    font-family: sans-serif;
  }
  .footer_absolute_logo {
    display: none;
  }

  .grid_footer_absolute_3 {
    flex-direction: row;
    width: 25%;
  }

  .star-rate {
    display: flex;
    flex-direction: row;
  }
}